body{
  background-color: rgb(20, 20, 20); ;
  height: 100vh;
  cursor: url("https://github.com/axii14/gorputzeko-lan-pertsonala/blob/main/Images/zapatillia1.png?raw=true"), pointer;
}

h2{
    font-weight: 400;
    text-align: center;
    padding: 2% 0% 0% 0%;
    font-family: "Calibri";
    color: white;
    font-size: 26px;
  }

h1{
    text-align: center;
    padding: 1.5% 0% 0% 0%;
    font-family: "Verdana";
    color: white;
    font-size: 28px;
    text-decoration: underline #670d9b;
}

.bostena{
    width: 19%;
    float: left;
    margin: 2% 0 3% 0.5%;
    text-align: center;
  }

canvas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.botoia{
  padding: 20px;
  border-radius: 50px;
  position: relative;
  margin-top: 5px;
  display: inline-block;
  font-family: 'Ubuntu';
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 50px;
}
