*{
    background:rgb(20, 20, 20);;
    cursor: url("https://github.com/axii14/gorputzeko-lan-pertsonala/blob/main/Images/zapatillia1.png?raw=true"), pointer;
  }
  
  .terminala{
    width: 90%;
    font-family: 'Share Tech', sans-serif;
    color: #00c87a;
  }
  
  .kodigua{
    display: block;
    margin-left: 60px;
    margin-top: 60px;
    letter-spacing: 2.5px;
    font-size: 16px;
  }
